<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OsobySoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61547/WebService/Osoby.asmx"
                binding="basicHttpBinding" bindingConfiguration="OsobySoap"
                contract="OsobyWS.OsobySoap" name="OsobySoap" />
        </client>
    </system.serviceModel>
</configuration>